<% include partials/header %>

<body>
	<img id="memePic" width="<%= meme.width %>" height="<%= meme.height %>" src="<%= meme.url %>" style="display: none" crossorigin="ananymous">
    <div class="container">
		<h1><%= meme.name %></h1>
	
		<div class="input-group">
			<span class="input-group-addon">Top Text:</span>
			<input id="topMeme" type="text" class="form-control">
		</div>
		<div class="input-group">
			<span class="input-group-addon">Bottom Text:</span>
			<input id="botMeme" type="text" class="form-control">
		</div>
		
		<br>
		<button class="btn btn-default btn-large" type="button" onclick="memeGenerate()">Generate</button>
		<br>
		<br>
		
		<canvas id="canMeme" width="<%= meme.width %>" height="<%= meme.height %>">
 			 Your browser does not support the canvas element.
		</canvas>
		
		<br>
		
		<a id="downloadMeme" href="dfadfad" download style="visibility: hidden;">Download Meme</a>
	</div>
	
	<script src="/js/index.js"></script>
	<script src="/js/canvas.js"></script>
	
<% include partials/footer %>